// /**
//  * Css grid system for Magento Page Builder by Imagination Media
//  *
//  * @category  ImaginationMedia
//  * @package   ImaginationMedia_PageBuilderGridSystem
//  * @author    Luiz Venturote <luiz@imaginationmedia.com>
//  * @copyright Copyright (c) 2019 Imagination Media (https://www.imaginationmedia.com/)
//  */

//
//  Mixins
//  _____________________________________________

.generate-columns(@name,@n, @i: 1) when (@i =< @n) {

    .@{name}-@{i} {
        width: (@i * 100% / @n) !important;
    }

    .generate-columns(@name, @n, (@i + 1));
}

.generate-grid(@name,@n, @i: 1) when (@i =< @n) {

    [data-grid-size="@{i}"] {

        .generate-columns(@name,@i);

        .generate-columns(@name, @n, (@i + 1));
    }

    .generate-grid(@name, @n, (@i + 1));
}

//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {

    .generate-grid(col-mobile,16);
}

//
//  Tablet
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {

    .generate-grid(col-tablet,16);
}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__l) {

    .generate-grid(col-desktop,16);
}

//
//  Hidden
//  _____________________________________________

.hidden-mobile {

    @media (max-width: @screen__m) {
        display: none !important;
    }
}

.hidden-tablet {

    @media (min-width: @screen__m) and (max-width: @screen__l) {
        display: none !important;
    }
}

.hidden-desktop {

    @media (min-width: @screen__l) {
        display: none !important;
    }
}